
/******************************
CSS Reset codes Starts
******************************
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
sup{
	vertical-align: text-top;
	top: 8px !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none !important;
}
/*
******************************
CSS Reset codes Ends
******************************
*/

@font-face {
   font-family: 'Myriad Pro';
   src: url("../fonts/Myriad_Pro_Regular.ttf");
}
@font-face {
   font-family: 'Myanmar';
   src: url("../fonts/mmrtext.ttf");
}




/*header style starts*/
#header{
	background-color: #000;
	padding: 20px 0;
}


.social-links ul{
	text-align: right;
	margin-top: 40px;
}
.social-links ul li{
	padding-right: 2px;
	padding-left: 2px;
}
/*header style ends*/


/*menu starts*/
#menu{
	background-color: #000;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding-top: 15px 
}


/*for centering the menu*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #fff;
    text-align: center;
}
.navbar-nav {
    float: none;
    margin: 0;
    display: inline-block;
}
/*for centering the menu*/

.navbar-default .navbar-nav > li > a,.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    text-transform: capitalize;
    font-family: 'Myanmar';
    font-size: 20px;
    letter-spacing: 1px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    border: 0px;
    margin-bottom: 0px;
}

.navbar-nav > li {
    padding: 0 30px;
}

.navbar-nav > li:first-child {
	padding-left: 0px;
}
.navbar-nav > li:last-child {
	padding-right: 0px;
}

/*menu ends*/

/*slider starts*/
#slider>.container>.row>.col-sm-10{
	float: none;
	margin: 0 auto;
}
#slider{
	background-color: #000;
}
#slider .item{
	position: relative;
}
#slider .item p{
	color: #fff;
	width: 80%;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Myriad Pro';
	text-transform: uppercase;
	font-size: 22px;
	position: absolute;
	bottom: 7%;
	left: 50%;
	transform: translate(-50%);
	letter-spacing: 1px;
}
#slider .item img{
    display: block;
    width: 100%;
    height: auto;
}
.owl-pagination{
	display: none;
}
.owl-theme .owl-controls .owl-buttons div {
    color: #fff;
    text-align: center;
    display: inline-block;
    zoom: 1;
    margin: 0px;
    padding: 3px 18px;
    font-size: 60px;
    opacity: 1;
    background-color: rgba(0,0,0,0.4);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

 
}
.owl-buttons{
	position: absolute;
	width: 100%;
	top: 50%;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
	position: absolute;
	left: 0%;
	bottom: 70%
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
	position: absolute;
	right: 0%;
	bottom: 70%
}


/*slider ends*/

/*career starts*/
#career-online{
	background-color: #000;
	border-top: 1px solid #fff;
	padding: 30px 0 50px 0;
	margin-top: -10px;
}
.career{
	font-family: 'Myanmar';
	color: #fff;
}
.career h1{
	font-size: 30px;
    font-weight: bold;
    padding-bottom: 35px;
    padding-top: 20px;
}
.career p{
	font-size: 18px;
	line-height: 160%;
}
.career p:nth-child(2){
	margin-bottom: 25px;
}
.career p:nth-child(3){
	margin-bottom: 25px;
}
.career p:nth-child(4){}
/*career ends*/

/*online-application starts*/
.online-application{
	background-color: #2e4155;
}
.online-application h1{
	letter-spacing: 1px;
	font-size: 26px;
	padding: 20px 0 10px 0;
	text-align: center;
	color: #fff;
	font-family: 'Myanmar';
	font-weight: bold;
	background: -webkit-linear-gradient(top, #e99700 0%,#f18900 40%,#fd7400 80%);
	background: -moz-linear-gradient(top, #e99700 0%,#f18900 40%,#fd7400 80%);
	background: -o-linear-gradient(top, #e99700 0%,#f18900 40%,#fd7400 80%);
} 
.online-application form{
	padding: 20px;
}

input[type=text],textarea,select{
    color:#000 !important;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Myanmar';
}
::-webkit-input-placeholder {
   color: #000 !important;
   font-size: 16px;
   font-weight: bold;
    font-family: 'Myanmar';
}

:-moz-placeholder { /* Firefox 18- */
   color: #000 !important; 
   font-size: 16px;
   font-weight: bold; 
    font-family: 'Myanmar';
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000 !important;
   font-size: 16px;
   font-weight: bold;  
    font-family: 'Myanmar';
}

:-ms-input-placeholder {  
   color: #000 !important;
   font-size: 16px;
   font-weight: bold;
    font-family: 'Myanmar';  
}
.form-group {
    margin-bottom: 18px;
}
.form-control {
    display: block;
    width: 100%;
    font-weight: bold;
    height: auto;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    border: 1px solid #c2c4c6;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.accepted-files{
	font-size: 20px;
	font-family: 'Myanmar';
	color: #000;
	margin-bottom: 15px;
}
.form-group .option{
	padding: 3px 12px 0px 8px;
}
input[type="file"] {
    display: block;
    color: #fff;
    font-size: 14px;
}
.form-control:focus {
    border-color: #c2c4c6;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    font-family: 'Myanmar';
    font-weight: bold;
    font-size: 19px;
    padding-top: 8px;
}
.btn-custom,.btn-custom:focus,.btn-custom:hover{
	background: -webkit-linear-gradient(top, #e89600 0%,#f58100 40%,#ff7000 80%);
	border: 0px; 
    border-radius: 2px;
    font-family: 'Myanmar';
    font-weight: bold;
    color: #fff;
    font-size: 22px;
    width: 80%;
    padding: 15px 40px 8px 40px;
    text-shadow: 2px 2px 6px #505050;

}

/*online-application ends*/

/*links starts*/
#links{
	background-color: #000;
	padding: 50px 0;
	font-family: 'Myriad Pro';
}

.links-parts{
	border-right: 1px solid #fff;
}
.bottom-social-links{
	border-right: 0px solid #fff;
}
.links-parts h1{
	font-size: 18px;
	color: #fff;
	margin-bottom: 10px;
}
.links-parts p{
	font-size: 18px;
	line-height: 140%;
	margin: 5px 0;
}
.links-parts p a{
	color: #e7bc60; 
}
.bottom-social-links ul{
	padding-top: 30px;
	
}
.bottom-social-links ul li{
	padding: 0 2px;
	margin-top: 10px;
}
.bottom-social-links ul li a{
	background-color: #333333;
	color: #fff;
	padding: 10px;
	font-size: 15px;
	display: block;
}
.facebook a{
	padding:10px 12px !important;
}
/*links ends*/


/*footer starts*/
#footer{
	background-color: #000;
	padding: 60px 0 100px 0;
}
#footer p{
	font-size: 12px;
	color: #fff;
	font-family: 'Myriad Pro';
	line-height: 130%;
	margin-bottom: 15px;

}
#footer p a,#footer p a:hover{
	color: #fff;
}
/*footer ends*/